@font-face {
    font-family: "Seldom Scene";
    src: url("../fonts/Seldom Scene.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NK57Edited";
    src: url("../fonts/NK57Edited.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    background-color: #AAAAAA;
}

.head_container{
    margin-left: 25px;
    margin-right: 25px;
    width: 100%!important;
}

.title-font{
    font-family: "Seldom Scene";
    font-size: large;
    color: #4b6370;
}

.sub-title{
    font-size: x-small;
}

.name-font{
    color: #94adb7;
}

a.language-font{
    opacity: 0.5;

    transition-property: opacity;
    transition-duration: 0.3s;
}

a.language-font.selected{
    opacity: 1;
}

a.language-font:hover{
    opacity: 1;
}

a.icon-font:hover{
    color: #94adb7!important;
    text-decoration: none;
}

.head-info-font{
    font-family: "NK57Edited";
    color: #94adb7;
}

.head-info-block{
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
}

.head-info-header{
    margin-bottom: 10px;
    letter-spacing: 2pt;
}

.head-info-box{
    height: 80%;
    margin-left: 0;
    margin-right: 0;

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navigation{
    margin: auto;
    padding: 0;
}

.navigation li a{
    font-size: 16px;
}

a.title-font.selected{
    color: #94adb7;
    text-decoration: none;
}

a.title-font{
    text-decoration: none;
}

a.title-font:hover{
    color: #94adb7;
    text-decoration: none;
}

a.title-font::before{
    opacity: 0;
    margin-left: 10px;
    content: "[";
    transition-property: opacity, margin;
    transition-duration: 0.5s;
}

a.title-font::after{
    opacity: 0;
    margin-right: 10px;
    content: "]";
    transition-property: opacity, margin;
    transition-duration: 0.5s;
}

a.title-font:hover::before{
    opacity: 1;
    margin-right: 10px;
    margin-left: 0px;
    content: "[";
}

a.title-font:hover::after{
    opacity: 1;
    margin-left: 10px;
    margin-right: 0px;
    content: "]";
}

.main_container{
    height: 100vh;
}

.page-border{
    position: fixed;
    background-color: #141414;
    color: white;
}

.page-border.left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 25px;
    line-height: 30px;
}

.page-border.left ul li a{
    color: #4b6370;
}

.page-border.right {
    right: 0;
    top: 0;
    bottom: 0;
    width: 25px;
    line-height: 30px;
}

.page-border.right ul li a{
    color: #4b6370;
}

.page-border.header{
    top: 0;
    left: 0;
    right: 0;
    height: 60vh;

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header{
    display: flex;

    /*padding-left: 50px;*/
    /*padding-top: 25px;*/

    border-bottom: 1px solid grey;
}

.header.thin{
    height: 15vh;
}

section{
    margin-top: 60vh;
    margin-left: 25px;
    margin-right: 25px;

    border-left: 1px solid grey;
    border-right: 1px solid grey;

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

section.thin{
    margin-top: 15vh;

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.social_button{
    width: 25px;
}

.image-box{
    height: 80%;
    margin-left: 0;
    margin-right: 0;

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.image-box.thin{
    height: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.image{
    background: url("../titarenko.jpg") no-repeat;
    width: 100%;
    height:100%;
    max-width: 180px;
    max-height: 240px;

    background-size:contain;
}

.title-box{
    height: 20%;
    margin-left: 0;
    margin-right: 0;

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.title-box.thin{
    height: 100%;
}

.paper{
    background-color: white;
    box-shadow: 0 0 15px 0 black;
    margin: 25px 25px 25px 25px;
    padding: 25px 25px 25px 25px;
    width: 100%;
}

.timeline .fa-stack {
    float: right;
    font-size: 1.5em;
    margin: -6px -38px 0 0;
    z-index: 1;
}

.timeline{
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}

.timeline::after{
    background-color: #2c3e50;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 0;
}

.timeline .row{
    margin-bottom: 25px;
}

.timeline .bottom{
    width: 30px;
    margin: 0px;
    padding: 0px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    border-color: transparent transparent #2c3e50 transparent;
    border-style: solid;
    border-width: 30px;
}

.left-content{
    text-align: right;
    margin-right: 20px;
}

.right-content{
    text-align: left;
    margin-left: 20px;
}

.block-title{
    margin-bottom: 25px;
}

.navbar-toggler{
    color: #94adb7;
}

@media (min-width: 1200px) {
    .mobile{
        display: none!important;
    }
}

@media (max-width: 1199.98px) {
    .head_container{
        margin-left: 0;
        margin-right: 0;
    }
    .header{
        height: 15vh!important;
        z-index: 100;
    }
    section{
        margin-left: 0;
        margin-right: 0;
        margin-top: 15vh!important;
    }
    .immobile{
        display: none!important;
    }

    .title-box{
        height: 100%;
    }

    .navigation{
        margin: 0;
        padding: 0;
    }

    .navigation li{
        margin-bottom: 25px;
    }

    .navigation li a{
        font-size: large;
    }

    .name-font{
        font-size: x-large;
    }

    .navigation-collapsed{
        background-color: #141414;
    }

    .name-box{
        height: 100%;
    }

    .paper{
        box-shadow: 0 0 5px 0 black;
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;
        width: 100%;
    }

}

